#walletComponent {
    width: 100%;
    height: 100%;
    border-right: 1px solid lightgray;
    border-radius:20px;
    display: relative;
    z-index: 0;
}

#walletContents {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    height: 50%;
}

#stockSection {
    overflow-y: scroll;
    max-height: 40%;
}

#tableHeader {
    border-bottom: 3px solid gray;
}

#portfolioTable {
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    overflow-y: auto;
    max-height: 40%;
}

th {
     padding: 5px;
}

.stockRow:nth-child(2n+1){
    background-color: rgba(12, 12, 182, 0.15)
}

.stockRow:hover {
    background-color: rgba(12, 12, 182, 0.5);
    cursor: pointer;
    transition-delay: .125s;
}


.userImage {
    background-image: url("../../assets/defaultuser.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
